/*GALERIA*/
#carouselExampleDark {
    margin: 0px 100px;

    & h5 {
        font-size: 3rem;
        font-weight: 600;
        color: rgb(150, 59, 168);
    }

    & p {
        font-size: 1.5rem;
    }
}

.carousel-item img {
    height: 35rem;
}
