* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Dancing Script' !important;
    font-style: normal;
    font-weight: 700;
    word-spacing: 5px;
    background-color: whitesmoke;
  
  }
  
  @font-face {
    font-family: 'Dancing Script';
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
  }