.historia, 
.mision,
.vision {
    background: #cfadd8;
    margin: 10px;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    color: #964e96;


    & h3 {
        font-size: 1.5rem;
        padding: .9rem .9rem 0 ;
    }

    & p {
        font-family: 'Dosis', sans-serif;
        padding: .9rem;
        text-align: justify;
        margin: 0 9rem;
    }
}